.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
  }
  
.phases {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 161, 161);
    border-radius: 20px;
    border: 1px solid black;
}

  .part1.active, .part2.active, .part3.active {
    background-color: #ff0;
  }

  .bar-item {
    width: 50px;
    height: 10px;
    background-color: #ddd;
    margin-right: 10px;
  }
  
  .bar-item.active {
    background-color: red;
  }

  .Phase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }

  .current-phase {
    color: white;
    font-weight: bolder;
    font-size: x-large;
    -webkit-text-stroke: 1px black;
    padding: 0px;
    margin: 0;
  }