/* .territory.territory1.active {
  background-color: rgb(255, 50, 50);
} */

button[value="red"]{
  background-color: var(--color-jugador-1);
}

button[value="green"] {
  background-color: var(--color-jugador-3);
}

button[value="blue"] {
  background-color: var(--color-jugador-2);
}

button[value="cyan"]{
  background-color: var(--color-jugador-4);
}

button[value="white"] {
  background-color: rgb(255, 255, 255);
}