body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0.8723404255319149) 0%,
            rgba(129,62,79,0.8723404255319149) 46%,
            rgba(222,31,31,0.8132387706855793) 100%);
}

.Landing .card p{
  color: white;
}

.Landing .logo {
  height: 200px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 25px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

a {
  margin : 50px;
}