.Waiting h1 {
    margin: 2%;
    max-width: 100%;
    color: white;
  
  }

  .Waiting h2 {
    margin: 2%;
    max-width: 100%;
    color: white;
  
  }
.Waiting {
    width: 100%;
    height: 100%;
}