
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  background-color: rgba(226, 226, 226, 0.781);
  border-radius: 0px;
  border: 1px solid black;
  z-index: 9999;
}  
  
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 0px;
    padding-left: 20px;
    margin-bottom: 5px;
}

.navbar .derecha {
  margin-left: auto;
}

li {
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    padding:5px;
}

.mini-logo {
    margin: 0px;
    height: 30px;
    padding: 0;
}





@media screen and (max-width: 600px) {
    a {
      padding: 0;
    }
  }
  
  
  
  
  