nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /*Esto hace que el navbar no esté dentro del body*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(226, 226, 226, 0.781);
    height: 50px;
    z-index: 9999;
    border-radius: 0px;
    border: 1px solid black;
  }

  
  
nav ul {
    list-style: none;
    display: flex;
    margin-left: 0px;
    padding-left: 20px;
    margin-bottom: 5px;
}

li {
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    padding:5px;
}

.mini-logo {
    margin: 0px;
    height: 30px;
    padding: 0;
}

